/*
	Reference Styling for Table Sorting and Filtering
*/

@media all {
	@import "compass/css3";
	@import "compass/utilities";
	@import "definitions";
	@import "typography";

	/*
		filter / sort
	*/

	table.sort {
		width : 100%;
		thead {
			tr {
				vertical-align : top;
				th {
					a {
						background : Transparent url(../img/sort.png) 100% 4px;
						display : block;
						padding-right : 20px;
						&.sort-down {
							background-position : 100% -28px;
						}
						&.sort-up {
							background-position : 100% -60px;
						}
					}
				}
			}
		}
		tbody {
			tr {
				td {
					vertical-align : middle;
					img {
						border : solid 1px #333;
						height : auto;
						width : 32px;
					}
				}
			}
		}
	}

}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
