/*
	Reference Styling for Table Sorting and Filtering
*/

@media all {

	@import "compass/css3";
	@import "compass/utilities";

	/*
		filter / sort
	*/

	table.sort {
		width : 100%;
		thead {
			tr {
				vertical-align : top;
				th {
					border-bottom : solid 1px #333;
					font-weight : bold;
					padding : 5px 10px;
					text-align : left;
					a {
						background : Transparent url(../img/sort.png) 100% 4px;
						color : #000;
						display : block;
						padding-right : 20px;
						text-decoration : none;
						&:hover {
							text-decoration : underline;
						}
						&.sort-down {
							background-position : 100% -28px;
						}
						&.sort-up {
							background-position : 100% -60px;
						}
					}
				}
			}
		}
		tbody {
			tr {
				td {
					padding : 5px 10px;
					text-align : left;
					img {
						border : solid 1px #333;
						height : auto;
						width : 32px;
					}
				}
			}
		}
	}

}
@media (min-width: 1200px) {}
@media (min-width: 980px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 979px) {}
@media (max-width: 767px) {}
@media (max-width: 480px) {}
@media print {}
