

@import "mixins";
/*
	filter / sort
*/
table.sort {
	width : 100%;
	thead {
		tr {
			vertical-align : top;
			th {
				background-color : $color-hover;
				padding : 0.5em 1em;
				text-align : left;
				a {
					background : Transparent url(../img/sort.png) 100% 4px;
					color : #fff;
					font-weight : normal;
					text-decoration : none;
					display : block;
					padding-right : 20px;
					&.sort-down {
						background-position : 100% -28px;
					}
					&.sort-up {
						background-position : 100% -60px;
					}
				}
			}
		}
	}
	tbody {
		tr {
			td {
				padding : 0.25em 1em;
				vertical-align : middle;
				img {
					border : solid 1px #333;
					display : block;
					height : auto;
					width : 32px;
				}
			}
		}
	}
}
